body {
  background-color: rgb(209, 252, 238);
  text-align: center;
  font-family: "Merriweather", serif;
  margin: 50px auto 0 auto;
  color: #40514E;
}

hr {
  border-top: 10px dotted #96b6b6;
  width: 5%;
}

h1, h2 {
  color: #66bfbf;
}
h2, h3, a {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 3em;
  line-height: 2;
}
h2 {
  font-size: 2em;
  font-weight: normal;
}
h3, a {
  color: #11999e;
}
.middleDiv {
  background-color: aliceblue;
  font-size: 1.3em;
}
#cloud1 {
  margin-top: 50px;
  position: relative;
  left: 300px;
}

div #cloud2 {
  position: absolute;
  left: 450px;
}
.skills img {
    border-radius: 50%;
    width: 200px;
}

.profile img {
    margin: 50px;
    width: 300px;
    border-radius: 50%;
}
.profile p {
  margin-bottom: 100px;
  display: inline-block;
  text-align: left;
  width: 50%;
  line-height: 2;
}


.webDesign-img {
  float: left;
  margin-right: 30px;
}
.chillies-img {
float: right;
margin-left: 30px;
}

chillies-h3 {
  color: #11999e;
}

.skill-row {
width: 50%;
margin: 100px auto;
text-align: left;
line-height: 2;
}

.contact-me h2{
  margin: 100px auto 0 auto;
}
.contact-me h3 {
  margin: 50px auto;
}
.contact-me {
  padding-bottom: 100px;
  line-height: 2;
}

.btn {
  background: #69e8e8;
  background-image: -webkit-linear-gradient(top, #69e8e8, #29b0b0);
  background-image: -moz-linear-gradient(top, #69e8e8, #29b0b0);
  background-image: -ms-linear-gradient(top, #69e8e8, #29b0b0);
  background-image: -o-linear-gradient(top, #69e8e8, #29b0b0);
  background-image: linear-gradient(to bottom, #69e8e8, #29b0b0);
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
background: #3cb0fd;
background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
text-decoration: none;
}

.bottom-container {
background-color: #35cccc;
/* margin: 50px auto; */
height: 200px;
color: #e3f1f1;
padding-top: 50px;
font-size: 20px;
}

a {
  margin: 50px 50px 0 0;
  font-weight: bold;
  font-size: 20px;
}

